body {
  padding: 0;
  margin: 0;
  text-align: center;
}

.top-container {
  background-color: rgb(222, 248, 239);
  padding-top: 20px;
}

h1 {
  font-size: 4rem;
  font-family: "Lucida Handwriting", cursive;
  padding-top: 200px;
}

h2 {
  font-size: 3rem;
  font-family: "Lucida Handwriting";
}

.parent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  width: 50%;
  margin: 100px auto 0 auto;
  text-align: left;
}

.profile > img {
  border-radius: 50%;
  height: 200px;
  margin-top: 100px;
}

.profile > h3 {
  color: rgb(132, 233, 198);
  font-size: 4rem;
}

.profile > p {
  font-size: 22px;
}

.profile > h3,
p {
  margin-top: 20px;
}

.skills {
  margin: 80px 0;
  color: rgb(132, 233, 198);
}

.football > img {
  height: 200px;
  width: 300px;
}

.bottom-container {
  background-color: rgb(222, 248, 239);
  padding-bottom: 10px;
}

hr{
  border: dotted rgb(131, 214, 185) 6px;
  width: 4%;
  margin: 100px auto;
}
